<h3 class="ta-center fs26">Number of Players per City</h3>
<%= column_chart @city_counts,
                 id: 'users-chart',
                 height: 'calc(100% - 130px)',
                 colors: ['#0277bd', '#311b92', '#006064', '#01579b', '#1b5e20', '#880e4f', '#e65100', '#b71c1c', '#004d40', '#4a148c'] %>