<div class="container">
  <h3>Find your peeps</h3>
  <p class="fs20 lh24">
    I created this site because I've been having a hard time finding players in the Los Angeles area that I can play with. I also saw a post on the Kings of War group that mentioned they would like a single location where people can register their location to find games. I'm hoping that this will help people connect to the Kings of War community. I also wanted to see what cities have the most people! You can view all the players sorted by city <%= link_to 'here', users_path %>.
  </p>

  <h3>Tech for Games</h3>
  <p class="fs20 lh24">
    I like making things. If you have an idea for software that will improve your gaming experience, let me know at <%= link_to 'dev.warscribe@gmail.com', 'mailto:dev.warscribe@gmail.com' %>.
  </p>

  <h3>Reach out</h3>
  <p class="fs20 lh24">
    I'd love to improve this if I can. Reach out to <%= link_to 'dev.warscribe@gmail.com', 'mailto:dev.warscribe@gmail.com' %> if you have ideas on how to improve, or if you find a bug. Even better, this app is open sourced, so go to <%= link_to 'https://github.com/Warscribe/player-finder/', 'https://github.com/Warscribe/player-finder/' %> and fix it yourself!
  </p>
</div>