.margin-auto {
  margin: auto;
}

@for $i from 1 through 8 {
  $val: $i * 8;
  .mx#{$val} {
    padding-left: #{$val}px;
    padding-right: #{$val}px;
  }

  .my#{$val} {
    padding-top: #{$val}px;
    padding-bottom: #{$val}px;
  }

  .mt#{$val} {
    padding-top: #{$val}px;
  }

  .mr#{$val} {
    padding-right: #{$val}px;
  }

  .mb#{$val} {
    padding-bottom: #{$val}px;
  }

  .ml#{$val} {
    padding-left: #{$val}px;
  }
}