.margin-auto {
  margin: auto;
}

@for $i from 1 through 8 {
  $val: $i * 8;
  .mx#{$val} {
    margin-left: #{$val}px;
    margin-right: #{$val}px;
  }

  .my#{$val} {
    margin-top: #{$val}px;
    margin-bottom: #{$val}px;
  }

  .mt#{$val} {
    margin-top: #{$val}px;
  }

  .mr#{$val} {
    margin-right: #{$val}px;
  }

  .mb#{$val} {
    margin-bottom: #{$val}px;
  }

  .ml#{$val} {
    margin-left: #{$val}px;
  }
}